body{
    background-color: grey;
    
   
}
#constainer{
    height: auto;
}

#content{
    margin:auto;
    background-color: red;
    width:1000px;
   
}


.ul_bar{
    width:960px;
    height: 40px;
    border-bottom: 1px solid black;
    

    li{
        list-style-type: none;
    }
    

}

#bar{
    display:grid;
    grid-template-columns: auto auto;
    width:1000px;
   
    
    
}

#logo{
    border-bottom: 1px solid black;
    width:1000px;
    height: 120px;
    p{
        margin-left:480px;
    }

    .ul_bar2{
        list-style-type: none;
        display:inline-flex;
        gap:55px;
        margin-left:170px;
    }
}

.block_1{
    width:1000px;
    display:grid;
    grid-template-columns: 500px auto auto;
    .art1{
    grid-row-start: 1;
    grid-row-end: 9;
    }
    gap: 20px;
}

.quotes{
    width: 940px;
    height: 60px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding:30px;
    
    p1{
        margin-left: 400px;
        margin-top:130px; 
    }
    p{
        margin-left: 440px;
    }
    
}

.family{

    display:grid;
    grid-template-columns: 600px auto auto;
    .h1{
        margin-right: 500px;
    }
    .art10{
        grid-row-start: 1;
        grid-row-end: 3;
    }
}